* {
    font-family: 'Russo One', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    /* border: 2px solid red; */
}




.title{
    text-align: center;
    font-size: 75px;
    text-shadow: 2px .5px 5px rgb(43, 43, 43);
    cursor: pointer;
}

body {
    height: 100%;
    background: linear-gradient(23deg, #9cbae0 2%, rgb(183, 244, 255) 100%); 
}

h1{
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Russo One', sans-serif;
}

h2{
    font-size: 5rem;
    text-shadow: 1px 1px 10px black;
    text-decoration: underline;
}

header {
    display: flex;

}

p {
    padding-top: 2rem;
    font-size: large;
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px .5px .5px rgb(43, 43, 43);
}

div.columns {
    padding-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic {
    padding-left: .2rem;
    display: flex;
    align-items: center;
}

div.checkers {
    display: flex;
    padding: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-shadow: 0px 0px 1px rgb(43, 43, 43);
    
}

.search-region {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    padding-top: 1rem;
}
.results {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    padding-top: 1rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #dffaff;
    background: #62c0ff;
    color: rgb(70, 149, 201);
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}
  
  form.example button:hover {
    background: #62c0ff;
    background: #dffaff;
    box-shadow: 1px 1px 20px rgb(255, 255, 255);
    transition: 0.1s;
}
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
}

.movie-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    margin: 10px 50px;
    overflow-x: auto;


}

.card-content {
    background: linear-gradient(rgb(236, 230, 230), rgb(29, 105, 177));
}


.card {
    
    
    margin: 0px;
    padding: 0px;
    width: 28%;
    border: 3px solid black;
    border-radius: 1rem;
    
    
}

div.columns {
    margin: 0px 1rem;
    height: 60vh;
}



.card-image:first-child img {
    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;
    
}

.card-content:last-child,
.card-footer:last-child,
.card-header:last-child {
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
}

.picture-cars {
    display: flex;
    justify-content: center;
    height: 100%;
}

.right-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    margin-top: 10rem;
    padding-bottom: 5rem;
    background: linear-gradient(35deg, rgba(2, 2, 14, 0.521), rgba(209, 235, 253, 0.562));
    
}

.description-card p {
    font-size: 30px;
}

  .hidden{
    display: none;
}
/*buttons in selected movie*/

.button1 {background-color: #f44336;} /* Red */

.button2 {background-color: black; color: rgb(1, 255, 1)} /* Green */

.button3 {background-color: rgb(54, 150, 240)} /* purple */

.butt {
    width: 10rem;
    height: 5rem;
    border-radius: 1rem;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    
}