* {
    font-family: 'Russo One', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    
}

.title{
    text-align: center;
    font-size: 75px;
    text-shadow: 2px .5px 5px rgb(43, 43, 43);
}


body {
    height: 100vh;
    background: linear-gradient(23deg, #9cbae0 2%, rgb(168, 242, 255) 100%);  
}

h1{
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Russo One', sans-serif;
}

header {
    display: flex;

}
p {
    padding-top: 2rem;
    font-size: large;
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px .5px .5px rgb(43, 43, 43);
}

div.columns {
    padding-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic {
    padding-left: .2rem;
    display: flex;
    align-items: center;
}

div.checkers {
    display: flex;
    padding: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-shadow: 0px 0px 1px rgb(43, 43, 43);
    
}

.search-region {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    padding-top: 1rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #dffaff;
    background: #62c0ff;
    color: rgb(70, 149, 201);
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #62c0ff;
    background: #dffaff;
    box-shadow: 1px 1px 20px rgb(255, 255, 255);
    transition: 0.1s;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .hidden{
    display: none;
}